.media-image {
  position: relative;
  height: 60vh;
  background-image: url("../../assets/images/Bitmap.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-origin: border-box;
  width: 100%;
}
.round-buttons {
  padding: 0 2em;
  bottom: 5em;
  position: relative;
}
.round-button {
  text-decoration: none;
  display:block;
  width:50px;
  height:50px;
  line-height:50px;
  border: 0px solid #f5f5f5;
  border-radius: 50%;
  color:orange;
  text-align:center;
  text-decoration:none;
  background: #fff;
  box-shadow: 2px 2px 3px gray;
  font-size:20px;
  font-weight:bold;
  float: left;
  margin-right: 1em;
}
.round-button:hover {
  text-decoration: none;
  background: #262626;
  color:white;
}
.recipe-steps {
  color: orange;
  padding: 2em;
  .ingredients{
    clear: left;
    margin-bottom: 1em;
  }
  .step {
    color: black;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
  }
  .steps{

    //border-bottom: 1px gray;
  }
  .stepNumber {
    text-decoration: none;
    display:block;
    width:50px;
    height:2em;
    line-height:50px;
    border: 1px solid orange;
    border-radius: 50%;
    color:black;
    text-align:center;
    text-decoration:none;
    background: #fff;
    font-size:20px;
    font-weight:bold;
    float: left;
    margin-right: 1em;
  }
}

.media-object {
  position: absolute;
  width: 40%;
  height: auto;
  top: 2em;
  left: 3em;
}
.media-body {
  hr {
    border-width: 0.125em;
    padding: 0;
    margin: 0;
  }
  width: 100%;
  h4 {
    padding: 0.5em;
  }
}
