<mat-tab-group>
  <mat-tab label="Personal Details">
    <div class="margin-all">
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" *ngIf="data.personalShare" (opened)="setStep(0)" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Personal data
            </mat-panel-title>
          </mat-expansion-panel-header>

          <p>Name</p>
          <h6>{{data.name}}</h6>

          <p>Age</p>
          <h6>{{data.age}}</h6>

          <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" *ngIf="data.countryShare" (opened)="setStep(1)" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Country
            </mat-panel-title>
          </mat-expansion-panel-header>

          <p>Country</p>
          <h6>{{data.country}}</h6>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" *ngIf="data.languageShare" (opened)="setStep(2)" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Language
            </mat-panel-title>
          </mat-expansion-panel-header>

          <p>Language</p>
          <h6>{{data.language}}</h6>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-tab>
  <mat-tab label="Recipes">
    <div class="margin-all">
    <app-recipe-slider [recipes]="recipes" [detailView]="true"></app-recipe-slider>
    </div>
  </mat-tab>
</mat-tab-group>
<div class="row">
  <button mat-button color="primary" (click)="close()">Close</button>
</div>
