<mat-tab-group>
  <mat-tab label="Personal Details">
    <div class="margin-all">
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" *ngIf="data.personalShare" (opened)="setStep(0)" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title [innerHTML]="'personalDataLabel' | translate">
            </mat-panel-title>
          </mat-expansion-panel-header>

          <p [innerHTML]="'nameLabel' | translate"></p>
          <h6>{{data.name}}</h6>

          <p [innerHTML]="'ageLabel' | translate"></p>
          <h6>{{data.age}}</h6>

          <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()" [innerHTML]="'nextLabel' | translate"></button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" *ngIf="data.countryShare" (opened)="setStep(1)" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title [innerHTML]="'countryLabel' | translate">
            </mat-panel-title>
          </mat-expansion-panel-header>

          <p [innerHTML]="'countryLabel' | translate"></p>
          <h6>{{data.country}}</h6>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()" [innerHTML]="'previousLabel' | translate">Previous</button>
            <button mat-button color="primary" (click)="nextStep()" [innerHTML]="'nextLabel' | translate">Next</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" *ngIf="data.languageShare" (opened)="setStep(2)" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title [innerHTML]="'languageLabel' | translate">
            </mat-panel-title>
          </mat-expansion-panel-header>

          <p [innerHTML]="'languageLabel' | translate"></p>
          <h6>{{data.language}}</h6>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()" [innerHTML]="'previousLabel' | translate"></button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-tab>
  <mat-tab label="Recipes">
    <div class="margin-all">
    <app-recipe-slider [recipes]="recipes" [detailView]="true"></app-recipe-slider>
    </div>
  </mat-tab>
</mat-tab-group>
<div class="row">
  <button mat-button color="primary" (click)="close()" [innerHTML]="'closeLabel' | translate"></button>
</div>
