// BreakPoints
$breakpoint-iphone-retina: 320px;
$breakpoint-sm-mobile: 480px;
$breakpoint-lg-mobile: 500px;
$breakpoint-tablet: 768px;
$breakpoint-lg-tablet: 1000px;
$breakpoint-desktop: 1025px;
$breakpoint-md-desktop: 1250px;
$breakpoint-lg-desktop: 1435px;

// Global Variables
$margin-lg: 2em;
$margin-md: 1em;
$margin-sm: 0.5em;

$padding-lg: 2em;
$padding-md: 1em;
$padding-sm: 0.5em;

$font-md: 1em;
$font-lg: 2em;
$font-xl: 3em;

// Colors
$brand-danger: red;
$brand-warning: yellow;
$brand-success: green;
$brand-white: #fff;
$brand-transparent: transparent;
$brand-dark: #000;
