<?xml version='1.0' encoding='utf-8'?>
<widget id="io.search.recipesearch" version="1.3.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Recipe Search</name>
    <description>
        Search Recipes from ingredients
    </description>
    <author email="rajatarun12@gmail.com" href="http://cordova.io">
        Tarun Raja, Navya Sanjana Koukuntla
    </author>
    <icon density="mdpi" platform="android" src="res/icon/android/icon-48-mdpi.png" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <edit-config file="*-Info.plist" mode="merge" target="NSMicrophoneUsageDescription">
        <string>need microphone access to record sounds</string>
    </edit-config>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <universal-links>
        <host name="https://f3tn5.app.goo.gl/eNh4" scheme="https" />
        <host name="myrecipesearch-c52aa.firebaseapp.com" scheme="https">
            <path url="/__/auth/callback" />
        </host>
    </universal-links>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-inappbrowser" spec="^2.0.2" />
    <plugin name="cordova-plugin-customurlscheme" spec="^4.3.0">
        <variable name="URL_SCHEME" value="RecipeSearch" />
    </plugin>
    <plugin name="cordova-plugin-browsertab" spec="^0.2.0" />
    <plugin name="cordova-plugin-buildinfo" spec="^2.0.1" />
    <plugin name="cordova-universal-links-plugin" spec="https://github.com/walteram/cordova-universal-links-plugin" />
    <plugin name="cordova-plugin-camera" spec="^4.0.2">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="to take photos of recipes and ingredients and search" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="to take photos of recipes and ingredients and search" />
    </plugin>
    <plugin name="cordova-plugin-media" spec="^5.0.2">
        <variable name="KEEP_AVAUDIOSESSION_ALWAYS_ACTIVE" value="NO" />
    </plugin>
    <engine name="browser" spec="^5.0.3" />
    <engine name="osx" spec="^4.0.1" />
    <engine name="ios" spec="^4.5.4" />
    <engine name="android" spec="^7.0.0" />
</widget>
