<div [ngClass]="{'myrecipe-container': !dashboardView}">
  <div class="header" *ngIf="!dashboardView"><button>Create a recipe</button>
    <span class="flex-end"><a class="search-image" href="#/recipeSearch/search/en"> <i class="fas fa-home"></i></a></span></div>
  <div class="row round-buttons" *ngIf="!dashboardView">
    <a href="#/recipeSearch/dashboard" class="round-button"><i class="fas fa-chevron-left"></i></a>
  </div>
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8"><h4 class="media-heading">My Recipes</h4><h4 class="media-heading">{{'  ('+(myRecipes && myRecipes.length)+')'}}</h4></div>
    <div class="col-xs-2 col-sm-2 col-md-2 flex-end" *ngIf="dashboardView"><h4 class="media-heading media-link"><a href="#/recipeSearch/myrecipes">See all</a></h4></div>
  </div>
  <div class="row" *ngIf="!!myRecipes">
    <mat-card  *ngFor="let recipeDetails of myRecipes| slice:0:totalToShow;" class="col-sm-2 card">
      <div class="row media">
        <div class="media-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <img onerror="this.src='../../assets/images/Food.png'" class="media-object" src="{{recipeDetails.image}}" width="100%" height="auto" alt="...">
        </div>
        <div class="media-body">
          <div class="float col-xs-12 col-sm-11 media-link">
            <a>{{recipeDetails.title}}</a>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>


