@import '~sass/main';

.mar-left {
  margin-left: $margin-md;
}

.mar-top {
  margin-top: $margin-md;
}
.mat-card {
  padding: 0 !important;
}
.mar-bottom {
  margin-bottom: $margin-md;
}

.media-heading {
   font-size: 22px;
   float: left;
   margin-left: 0.5em;
   margin-bottom: 1em;
 }
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.card {
  margin: 0 2em;
}
.media-body {
  position: relative;
  h4 {
    font-size: 18px;
  }
  .float {
    float: left;
    text-overflow: clip;
    white-space: normal;
  }
  .float.absolute {
    float: left;
    display: block;
  }
  padding: 1em;
  width: 100%;
  height: 5em;
}

.media-bottom {
  width: 100%;
  margin-top: 2em;
  padding: 1em;
}
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-right {
  text-align: right;
  margin-bottom: $margin-md;
}

.likeButton {
  margin-left: $margin-md;
  margin-top: 0.4em;
  color: $brand-danger;
}
