<div class="side-fixed">
  <a (click)="openDialog()" class="side-icon top-icon"><i class="fas fa-cogs fa-2x"></i></a>
  <a href="#/recipeSearch/dashboard" class="side-icon center-icon"><i class="fas fa-utensils fa-2x"></i></a>
  <a (click)="openDialog()" class="side-icon center-below"><i class="fas fa-glass-martini fa-2x"></i></a>
  <a (click)="signOut()" class="side-icon bottom-icon"><i class="fa fa-sign-out-alt fa-2x"></i></a>
</div>
<div class="nav-container" *ngIf="!loginActive">
<div class="nav-bottom">
	<button mat-raised-button class="mar-bottom width-full" *ngIf="!loginActive" color="primary" type="button" class="width-full" (click)="login()" [innerHTML]="'LoginLabel' | translate"></button>
	<button mat-raised-button class="mar-bottom width-full"  *ngIf="!loginActive" color="primary" type="button" class="width-full" (click)="register()" [innerHTML]="'registerLabel' | translate"></button>
</div>
</div>

<div class="nav-container" [hidden]="!loginActive">
	<div class="nav-header">
<i class="fas fa-plus fa-2x"></i>&nbsp; Add Your Recipe
</div>
<div class="nav-item margin-main">
Filters
</div>
<div class="nav-item margin-main">
Time
</div>
<div class="range-slider-container">
<input type="range" class="range-slider" name="volume" min="0" max="11">
</div>
<div class="nav-seperator"></div>
<div class="nav-item">
Diets
</div>
<div class="nav-seperator"></div>
<div class="nav-item">
Meat
</div>
<div class="nav-item">
Vegetarian
</div>
<div class="nav-item">
Vegan
</div>
<div class="nav-item">
Vetarian
</div>
<div class="nav-seperator"></div>
<div class="nav-item">
Difficulty
</div>
<div class="nav-seperator"></div>
<div class="nav-item">
Easy
</div>
<div class="nav-item">
Medium
</div>
<div class="nav-item">
Hard
</div>
</div>

<app-snack-bar></app-snack-bar>
