@import '~sass/main';

.list-group-item {
  border: none;
}
.margin-all {
  margin: $margin-md;

}
.width-nav{
  width: 15em;
}
.width-full {
  width: 100%;
}
.mat-form-field{
  width: 100%;
}

.mar-bottom{
  margin-bottom: $margin-md;
}
.list-container{
  height: 90vh;
  padding-top: $padding-lg;
}
.list-container > button{
  margin-bottom: $margin-md !important;
}

.mar-top{
  margin-top: $margin-lg;
}
