  <mat-card>
  <div class="media row card-top">
    <div class="media-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="image-fade"><img class="media-object blur contrast" src="{{data.image}}" width="100%" height="300em" alt="..."></div>
    </div>
    <div class="media-body col-xs-12 col-sm-12 col-md-12 col-lg-12 card-text">
      <h4 class="media-heading">{{data.title}}</h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12 mar-left mar-top mar-right">
      <app-nutrient-dialog [nutrients]="data.nutrients" [percentDaily]="data.percentDaily"></app-nutrient-dialog>
      <a (click)="handleUrlChange(data.recipieUrl)">
        <button mat-icon-button class="button-icons" ngbTooltip="View Website"><i class="fas fa-globe fa-2x"></i></button></a>
      <a (click)="handleNearby(data.title)">
        <button mat-icon-button class="button-icons" ngbTooltip="View Nearby"><i class="fas fa-map-marker-alt fa-2x"></i></button></a>
      <button mat-icon-button (click)="addToFav(data, $event)"><i [ngClass]="{'fas':data.favorite,'far':!data.favorite,'fa-heart':true }"></i></button>
    </div>
  </div>
  <div class="media row card-bottom">
    <div class="media-row ingredients">
      <ul>
        <li *ngFor="let ingredient of data.ingredients| slice:0:5; let i=index">
          {{ingredient}}
        </li>
      </ul>
    </div>
    <div class="media-row chips">
<!--      <a (click)="seemore()" class="see-more-link">See more</a>-->
      <mat-chip-list #chipList>
        <mat-chip class="back-red"  *ngFor="let data of data.healthLabels" [selectable]="true"
                  [removable]="true">
          {{data}}
          <mat-icon matChipRemove><i class="fas fa-plus"></i></mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <app-snack-bar></app-snack-bar>
</mat-card>
