@import '~sass';

/* Custom, iPhone Retina */
@media (min-width : #{$breakpoint-iphone-retina}) {
  .authButtonAlign{
    text-align: left !important;
    width: 100% !important;
  }
  .authButtonAlign > button{
    width: 100% !important;
    margin-bottom: $margin-md;
  }
}
.login-form {
  padding: 2em 3em;
}
.loginHeader {
  background-image: url("../../assets/images/login.png");
  height: 10em;
  width: 100%;
  color: white;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Extra Small Devices, Phones */
@media (min-width : #{$breakpoint-sm-mobile}) {
  .authButtonAlign{
    text-align: left !important;

  }
  .authButtonAlign > button{
    width: 100% !important;
    margin-bottom: $margin-md;
  }
}

/* Small Devices, Tablets */
@media  (min-width : #{$breakpoint-tablet}) {
  .authButtonAlign{
    text-align: left !important;
    width: 100% !important;
  }
  .authButtonAlign > button{
    width: 100% !important;
    margin-bottom: $margin-md;
  }
}
@media (min-width: #{$breakpoint-tablet}) {
  .authButtonAlign{
    text-align: right;
  }
}

.authButtonAlign{
  text-align: right;
}
.width-full {
  width: 100%;
}
.mat-form-field{
  width: 100%;
}

.mar-bottom{
  margin-bottom: $margin-md;
}

.icon {

  width: 3em;
  background-repeat: no-repeat;
  height: 3em;
}
.facebook {
  background-image: url("../../assets/images/facebook.png");
}
.google {
  background-image: url("../../assets/images/google.png");
  margin-left: 2em;
}

.privacyPolicy {
  display: flex;
  justify-content: left;
  align-items: center;
}
