@import './../../../sass/_main';

.input-bottom{
  margin-bottom: $margin-md;
  color: teal;
  font-size: $font-xl;
}

.nav {
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  position: absolute;
  text-decoration: none;
  z-index: 3;
}
.nav-block {
  float: left;
}
.nav-item {
  font-size: 18px;
  color: white;
  text-decoration: none;

}

.page-header {
  font-family: Raleway;
  font-size: 51px;
  font-weight: 600;
  text-align: center;
  color: var(--white);
}
.width-full{
  width: 100%;
}

.chips {
  padding-left: 1.5em;
}
.pad-left{
  padding-left: $padding-md;
}
.deep-purple{
  color: #5E42B0;
}
.jumbotron {
  padding: $padding-md $padding-lg $padding-md $padding-md !important;
  background-size: 100%;
}
.jumbotron::after {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #000 100%);
}
.mat-drawer{
  left: 0 !important;
}
.fullHeight {
  height: 100vh;
  overflow-x: hidden;
}
.badge{
  text-align: right;
}
.pad-top{
  padding-top: 0.6 * $padding-md;
}
.hide-header{
  opacity: 0;
}

.search-background {
  margin-bottom: -12em;
  padding: 3em 1em 4em 1em;
  background-image: linear-gradient(to right, #ff7900, #f34400);
}

.header-rectangle {
  padding-top: 6em;
  padding-bottom: 2em;
  background: #d8d8d8 url("../../../assets/images/front-header.jpg");
  background-size: 100%;
  background-position: bottom center;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    height: 150px;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #000 100%);
    opacity: 0.6;
    z-index: 2;
  }
}

@media (max-width:  #{$breakpoint-tablet}) {
  .badge{
    display: none;
  }
}

@media(min-width: #{$breakpoint-lg-tablet}){
   .mar-left{
     margin-left: 1.5 * $margin-md;
   }
}

@media(min-width: #{$breakpoint-lg-desktop}){
  .mar-left{
    margin-left: 3 * $margin-lg;
  }
}

@media (min-width: #{$breakpoint-desktop}){
  .mar-left{
    margin-left: $margin-lg;
  }
}
