<div  class="row page-footer">
<div class="col-xl-9 col-md-8 col-lg-9 text-right col-sm-6 col-6 mar-left pad-top" *ngIf="!hideBadges">
  <a class="badge" href='https://play.google.com/store/apps/details?id=io.search.recipesearch&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' width="120px"   height="40px" src='../../assets/images/badgeFooter.jpg'/></a>
</div>
<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 ng-star-inserted" *ngIf="!hideBadges">
  <a class="badge" href='https://play.google.com/store/apps/details?id=io.search.recipesearch&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' width="130px"   height="60px" src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
</div>
</div>
