<div class="container">
  <div class="followers-header row" *ngIf="viewContactView">
    <div class="header-title col-xs-10 col-sm-10 col-md-10">
      <h4>Follow</h4>
    </div>
    <div class="header-title col-xs-2 col-sm-2 col-md-2 pull-right">
      <a (click)="switchView()"><i class="fas fa-user-plus fa-2x"></i></a>
    </div>
  </div>
  <div *ngIf="!viewContactView">
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2">
      <button mat-icon-button (click)="switchView()"><i class="fas fa-arrow-left fa-2x"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 col-md-2"></div>
    <form [formGroup]="searchForm" class="col-xs-8 col-md-8">
      <mat-input-container>
        <input matInput type="text" formControlName="search" class="width-full" placeholder="Enter email ID" />
      </mat-input-container>
    </form>
  </div>
  <div class="row text-center search-row">
    <button mat-raised-button color="warn" (click)="searchUser()">Search</button>
  </div>
  </div>
  <div class="followers-body" *ngIf="viewContactView">
      <mat-list>
        <mat-list-item (click)="viewFollowerDetails(follower)" *ngFor="let follower of followers">
          <span *ngIf="!!follower.img">
          <img matListAvatar src="..." alt=".."></span>
          <span *ngIf="!follower.img"><i class="fas fa-user"></i></span>
          <h3 matLine> {{follower.name}} </h3>
          <p matLine>
            <span> {{follower.email}} </span>
          </p>
        </mat-list-item>
      </mat-list>
  </div>
  <div class="followers-body" *ngIf="!viewContactView">
      <div *ngIf="foundUser" class="row">
        <div class="col-xs-1 col-md-1"></div>
        <div class="col-xs-10 col-md-10">
          <mat-list>
            <mat-list-item>
              <mat-icon *ngIf="!userAdded"><a  (click)="saveFavorite()"><i class="fas fa-plus-circle fa-2x"></i></a></mat-icon>
              <mat-icon *ngIf="userAdded"><a ><i class="fas fa-check-circle fa-2x"></i></a></mat-icon>
              <h3 matLine> {{foundUser.name}} </h3>
              <p matLine>
                <span> {{foundUser.email}} </span>
              </p>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    <div *ngIf="!foundUser">
        {{message}}
    </div>
  </div>
</div>
