.dashboard-container {
  padding: 6em 5em;
  font-family: Raleway-Regular !important;
}
.favorite-container {
  margin-bottom: 3em;
}
.dashboard-heading {
  margin-bottom: 6em;
}
.header {
  top: 0;
  background-color: black;
  position: absolute;
  width: 100%;
  left: 0;
  height: 4em;
  button {
    width: 10em;
    background-image: linear-gradient(to right, #ff7900, #f34400);
    height: 100%;
  }
}
.media-heading {
  font-size: 22px;
  margin-left: 0.5em;
  margin-bottom: 3em;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.search-image {
  text-decoration: none;
  color: black;
&:hover {
  color: black;
}
}
