@import './sass/main';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
body {
  /*@ts-ignore*/
  padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
  padding-top: env(safe-area-inset-top); /* iOS 11.2 */
}
.cdk-overlay-pane{
  margin-top: 1.5em;
  width: 30em;
}
.mat-expansion-panel-body{
  padding: 10px 0.5em 0.5em !important;
}
.mat-expansion-panel-body > button{
  margin-bottom: 1em !important;
}
.recipeCard > mat-card {
  margin-right: 1em;
}
.button-icons:hover{
  color: rebeccapurple;
}
.mat-chip {
  margin-top: 0.2em !important;
  color: white !important;
}
.mat-chip-list-wrapper {
  margin: 0 -0.5em;
}
