<div id="form-search">
  <form autocomplete="off" [formGroup]="myForm" novalidate class="container-fluid text-center" >
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 input-group">
        <mat-form-field class="md-icon-float">
        <input autocomplete="off" matInput type="text" class="width" id="search" (keyup)="addIngredients($event)" placeholder="Search with ingredients" formControlName="search">
          <mat-error *ngIf="!myForm.valid">
            <p [innerHTML]=" 'IngredientSearchErrorMessage' | translate"></p>
          </mat-error>
        </mat-form-field>
        <div class="align-left chosen-ingredients">
          <p class="text-center" > Your chosen Ingredients</p>
        </div>
        <div class="align-left chosen-ingredients" *ngIf="values.length">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let item of values; let j = index;" [selectable]="true" [removable]="true" (removed)="removeIngredient(j)">{{item}}
              <mat-icon matChipRemove><i class="fa fa-times"></i></mat-icon></mat-chip>
          </mat-chip-list>
        </div>
        <div class="align-left not-chosen-ingredients" *ngIf="!values.length">
          <div >You can add multiple ingredients. Type a ingredient and press enter/return.</div>
        </div>
      </div>
    </div>
    <div class="row dropdowns-filters">
      <div class="col-md-3"></div>

      <div class="col-md-2">
        <mat-form-field>
          <mat-label>Cuisine Type</mat-label>
          <mat-select formControlName="cuisineType">
            <mat-option *ngFor="let cuisine of cuisines" [value]="cuisine.value">
              {{cuisine.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field>
          <mat-label>Dish Type</mat-label>
          <mat-select formControlName="dishType">
            <mat-option *ngFor="let dish of dishTypes" [value]="dish.value">
              {{dish.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field>
          <mat-label>Meal Type</mat-label>
          <mat-select formControlName="mealType">
            <mat-option *ngFor="let meal of mealTypes" [value]="meal.value">
              {{meal.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3  "></div>
      <div class="col-md-6 text-center">
        <!--<button (click)="addSearchBox()" mat-raised-button color="primary" [disabled]="inputs.length >= 10" class="btn btn-primary mar-bottom" [innerHTML]=" 'AddIngredientLabel' | translate"></button>-->
          <button (click)="search($event)"  mat-raised-button color="primary" [disabled]="!myForm.valid" class="btn btn-primary mar-bottom">Search</button>
        <a (click)="imageElement.click()"><img src="assets/images/photo-camera.png" class="photo-camera"/> </a>
        <input hidden type="file" #imageElement (change)="searchPhoto($event)"/>
      </div>
    </div>
  </form>
</div>
<div class="row text-center">
  <div class="col-md-1"></div>
  <div *ngIf="imageSearchData.length > 0" class="col-xs-12 col-md-10  center-justify">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let data of imageSearchData | slice:0:10" [ngClass]="{'back-green':data.score > 0.90, 'back-yellow': data.score > 0.75 && data.score < 0.90, 'back-red': data.score < 0.75}" [selectable]="selectable"
              [removable]="removable" (removed)="addIngredient(data.description)">
      {{data.description}}
      <mat-icon matChipRemove *ngIf="removable"><i class="fas fa-plus-circle"></i></mat-icon>
    </mat-chip>
  </mat-chip-list>
  </div>
</div>
