@import '~sass/main';

.mar-left{
  margin-left: $margin-md;
}
.mar-top{
  margin-top: $margin-md;
}
.mar-bottom {
  margin-bottom: $margin-md;
}
.media-heading {
  font-size: 38px;
}
.media-row {
  width: 100%;
}
@media (max-width: #{$breakpoint-lg-mobile}) {
  .hide-devices{
    visibility: hidden;
  }
  .show-devices {
    visibility: visible;
  }
}
@media (min-width: #{$breakpoint-lg-mobile}) {
  .hide-devices{
    visibility: visible;
  }
  .show-devices {
    visibility: hidden;
  }
}
.likeButton{
  margin-left: $margin-lg;
  margin-top: $margin-sm;
  color: red;
}
.center-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-right{
  text-align: right;
  margin-bottom: $margin-md;
}
